.footer {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--bgSecondary);
  border-radius: var(--borderRadius);
  text-align: center;
}

.footer > p {
  margin: 10px auto;
  margin-top: 0px;
}

.avatars {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarCard {
  width: 120px;
}

.avatarImg {
  border-radius: 50%;
  border: #666 solid thin;
  width: 50%;
}

.avatarImg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.avatarCaption {
  font-size: smaller;
}
